<hr/>

<div class="col-md-2 column">
    <dl>
        <dt>Improve jclouds</dt>
        <dd><a href="http://jclouds.apache.org/documentation/userguide/bug-report/">Report a Bug</a></dd>
        <dd><a href="https://wiki.apache.org/jclouds/How%20to%20Contribute%20Documentation">Fix This Page</a></dd>
        <dd><a href="https://wiki.apache.org/jclouds/How%20to%20Contribute">Contribute Code</a></dd>
    </dl>
</div>

<div class="col-md-10 column">
    <p class="text-center">
      Copyright &copy; 2011-2013 <a href="http://www.apache.org">The Apache Software Foundation</a>. All Rights Reserved.
    </p>
    <p class="text-center">
      Apache, jclouds, Apache jclouds, the jclouds logo, and the Apache feather logos are registered trademarks or trademarks of the Apache Software Foundation.
    </p>
    <p class="text-center">
      <img src="/img/feather-small.gif" width="80", height="24"/>
    </p>
    <br/>
</div>