<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Apache jclouds &reg;</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Getting Started<strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Getting started</li>
                        <li><a href="/gettingstarted/what-is-jclouds/">What is Apache jclouds&reg;?</a></li>
                        <li><a href="/gettingstarted/installation-guide">Installation Guide</a></li>
                        <li class="divider"></li>
                        <li><a href="/gettingstarted/compute/">Compute</a></li>
                        <li><a href="/gettingstarted/blobstore/">BlobStore</a></li>
                        <li><a href="http://github.com/jclouds/jclouds-examples">Examples</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation<strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Documentation</li>
                        <li><a href="#">Provider User Guides</a></li>
                        <li><a href="#">Logging</a></li>
                        <li><a href="#">Supported Providers</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Developer Guides</li>
                        <li><a href="#">Wiki</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Community<strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Community</li>
                        <li><a href="#">Who is using Apache jclouds&reg;</a></li>
                        <li><a href="#">Issue tracker</a></li>
                        <li><a href="#">Events</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Contribute</li>
                        <li><a href="#">How To Contribute</a></li>
                        <li><a href="#">How To Contribute Documentation</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </li>
                <li><a href="/blog">Blog</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Release Notes<strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">ASF Releases</li>
                        <li><a href="#">1.7.0</a></li>
                        <li><a href="#">1.6.3</a></li>
                        <li><a href="#">1.6.2</a></li>
                        <li><a href="#">1.6.1</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Previous releases</li>
                        <li><a href="#">Release archive</a></li>
                    </ul>
                </li>
                <li><button type="button" class="btn btn-info navbar-btn">Download</button></li>
            </ul>
        </div>
    </div>
</nav>
