<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        {% include navbar.html %}
        <div id="home-content" class="container">
            <div class="row clearfix">
                <div class="col-md-4 column">
                    <img src="/img/fullsizelogo.jpg" class="img-rounded"/>
                </div>
                <div class="col-md-8 column">
                    <div class="jumbotron">
                        <h1>Rule the cloud!</h1>
                        <p>Apache jclouds&reg; is a cloud agnostic library for the JVM that enables developers to access <strong>over 30 cloud providers</strong> using one API.</p>
                        <p>
                            <a class="btn btn-primary btn-large" href="/gettingstarted/">
                                <span class="glyphicon glyphicon-book"></span>
                                Learn more
                            </a>
                            <a class="btn btn-warning btn-large" href="/gettingstarted/installation-guide/">
                                <span class="glyphicon glyphicon-download"></span>
                                Download
                            </a>
                            <a class="btn btn-warning btn-large" href="https://github.com/jclouds/jclouds">
                                <span class="glyphicon glyphicon-cog"></span>
                                Source code
                            </a>
                            <a class="btn btn-success btn-large" href="#">
                                <span class="glyphicon glyphicon-globe"></span>
                                Contribute
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <hr/>
            <ul class="list-inline text-center">
                <li><img class="img-list" src="img/logos/abiquo.png" alt="Abiquo"/></li>
                <li><img class="img-list" src="img/logos/aws.jpg" alt="Amazon Web Services"/></li>
                <li><img class="img-list" src="img/logos/cloudsigma.png" alt="CloudSigma"/></li>
                <li><img class="img-list" src="img/logos/cloudstack.png" alt="CloudStack"/></li>
            </ul>
            <ul class="list-inline text-center">
                <li><img class="img-list" src="img/logos/hpcloud.png" alt="HP Cloud"/></li>
                <li><img class="img-list" src="img/logos/joyent.png" alt="Joyent"/></li>
                <li><img class="img-list" src="img/logos/openstack.png" alt="OpensStack"/></li>
                <li><img class="img-list" src="img/logos/rackspace.png" alt="Rackspace"/></li>
            </ul>
            <p class="lead text-center text-primary"><strong>...and many more!</strong></p>
            <hr/>
            <div class="row clearfix">
                <div class="col-md-6 column">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Compute</h3>
                        </div>
                        <div class="panel-body">
{% highlight java %}
ComputeService compute = ContextBuilder.newBuilder("aws-ec2")
    .credentials("identity", "credential")
    .buildView(ComputeServiceContext.class)
    .getComputeService();

Template template = compute.templateBuilder()
    .osFamily(OsFamily.UBUNTU)
    .minRam(2048)
    .options(inboundPorts(22, 80))
    .build();
    
compute.createNodesInGroup("jclouds", 1, template);
{% endhighlight %}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 column">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">BlobStore</h3>
                        </div>
                        <div class="panel-body">
{% highlight java %}
BlobStore blobStore = ContextBuilder.newBuilder("aws-s3")
    .credentials("identity", "credential")
    .buildView(BlobStoreContext.class)
    .getBlobStore();

blobStore.createContainerInLocation(location, "mycontainer");

Blob blob = blobStore.blobBuilder("blob")
    .payload("blob-content")
    .build();

blobStore.putBlob("mycontainer", blob);
{% endhighlight %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-3 column">
                    <h3 class="text-primary"><span class="glyphicon glyphicon-cog"></span>&nbsp;Compute</h3>
                    <p>The portable Compute interface allows users to provision their infrastructure in any cloud provider. With Apache jclouds&reg; users are in control of the entire process: deployment configuration, provisioning and bootstrap.</p> 
                </div>
                <div class="col-md-3 column">
                    <h3 class="text-primary"><span class="glyphicon glyphicon-hdd"></span>&nbsp;BlobStore</h3>
                    <p>Using the BlobStore interface, users can easily store objects in a wide range of blob store providers, regardless of how big the objects to manage are, or how many files are there.</p>
                </div>
                <div class="col-md-3 column">
                    <h3 class="text-primary"><span class="glyphicon glyphicon-stats"></span>&nbsp;Load Balancer</h3>
                    <p>The Load Balancer abstraction provides a common interface to configure the load balancers in any cloud that supports them. Just define the load balancer and the nodes that should join it, and it will be ready for the action.</p>
                </div>
                <div class="col-md-3 column">
                    <h3 class="text-primary"><span class="glyphicon glyphicon-fire"></span>&nbsp;Specific APIs</h3>
                    <p>Apache jclouds&reg; also provides DNS, firewall, storage, configuration management, image management, provider specific APIs, and much more. Make sure to check them out!</p>
                </div>
            </div>
            <hr/>
            <ul class="list-inline text-center">
                <li><img class="img-list" src="img/logos/cloudsoft.png" alt="Cloudsoft" title="Cloudsoft"/></li>
                <li><img class="img-list" src="img/logos/jenkins.png" alt="Jenkins" title="Jenkins"/></li>
                <li><img class="img-list" src="img/logos/maginatics.png" alt="Maginatics" title="Maginatics"/></li>
                <li><img class="img-list" src="img/logos/neoload.png" alt="NeoTys NeoLoad" title="NeoTys NeoLoad"/></li>
            </ul>
            <ul class="list-inline text-center">
                <li><img class="img-list" src="img/logos/cloudify.png" alt="GigaSpaces Cloudify" title="GigaSpaces Cloudify"/></li>
                <li><img class="img-list" src="img/logos/pallet.png" alt="Pallet" title="Pallet"/></li>
                <li><img class="img-list" src="img/logos/seatyourself.gif" alt="SeatYourself" title="SeatYourself"/></li>
                <li><img class="img-list" src="img/logos/stratos.png" alt="Apache Stratos" title="Apache Stratos"/></li>
            </ul>
            <p class="lead text-center text-primary"><strong>...and many more!</strong></p>
            <div class="row clearfix">
                <div id="footer" class="col-md-12 column">
                    {% include footer.html %}
                </div>
            </div>
        </div>
    </body>
</html>
